@import 'tailwindcss';

@theme {
  --color-brand-50: #fbf7ec;
  --color-brand-100: #f3e9cf;
  --color-brand-200: #e4d6a9;
  --color-brand-300: #d3c08c;
  --color-brand-400: #b98f5b;
  --color-brand-500: #995f2f;
  --color-brand-600: #874f27;
  --color-brand-700: #713c1d;
  --color-brand-800: #622b14;
  --color-brand-900: #4a2010;
  --color-brand-950: #2c130a;

  --color-brand-olive: #978f66;
  --color-brand-olive-soft: #cfcbb3;

  --color-green-50: #fbf7ec;
  --color-green-100: #f3e9cf;
  --color-green-200: #e4d6a9;
  --color-green-300: #d3c08c;
  --color-green-400: #b98f5b;
  --color-green-500: #995f2f;
  --color-green-600: #874f27;
  --color-green-700: #713c1d;
  --color-green-800: #622b14;
  --color-green-900: #4a2010;
  --color-green-950: #2c130a;
}
